#site-logo {
    height: 80%;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}

#site-header {
    position: fixed;
    height: var(--header-height);
    width: 100vw;
    background-color: var(--body-color1);
    top: 0;
}