#contents {
    margin-top: var(--header-height);
}

input, textarea, select, button {
    font-size: 2vw !important;
}

h1,h2,h3,h4,h5,h6 {
    color: white !important;
}

.headline {
	color: #444;
	font-size: 5vw;
	display: flex;
	align-items: center;
}

#site-description {
    margin-bottom: 4vh;
}

.headline:before, .headline:after {
	content: "";
	flex-grow: 1;
	height: 3px;
	background: #444;
	display: block;
}

.headline:before {
	margin-right: .3em;
}

.headline:after {
	margin-left: .3em;
}