@import url('https://fonts.googleapis.com/css?family=Kosugi+Maru&display=swap');

:root {
    --theme-color: #00e091;
    --body-color1: #1E1F26;
    --body-color2: #EEEEEE;
    --body-color3: #2C2C33;
    --header-height: 50px;
}

body {
    background-color: var(--body-color3);
    min-height: 100vh;
}

p {
    color: white;
}

a {
    text-decoration:none;
    color: var(--theme-color);
    opacity:0.9;
}

a:hover {
    color: var(--theme-color);
    text-decoration:none;
    opacity: 1;
    transition: 0.5s;
}

*::selection {
  background: var(--theme-color);
}

html {
    overflow-y: scroll;
    overscroll-behavior: none;
}

.theme-color {
    color: var(--theme-color);
}

* {
    margin: 0px;
    font-family: 'Kosugi Maru', sans-serif;
}